
/***********
GENERAL
************/

#wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
}

a  {
    text-decoration: none;
}


/***********
HEADER
************/

#logo {
    text-align: center;
    max-resolution: 0;
}



/***********
COLORS
************/

/* site body */
body {
    background-color: #fff;
    color: #999;
}

/* green header */
header {
    background-color: #6ab47b;
    border-color: #599a68;
}

/* nav backgroud on mobile */
nav {
    background-color: #599a68;
}

/* logo text */
h1, h2 {
    color: #fff;
}

/* Links */
a {
    color: #6ab47b;
}   

/* nav link */
nav a, nav a:visited   {
    color: #fff;
}

/* selected nav link */
nav a.selected, nav a:hover {
    color: #32673f;
}

